@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
@import url(https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600);
body {
  font-family: 'Amatic SC', sans-serif;
  font-size: 100px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  width: 99vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #9419c7;
  -webkit-overflow-scrolling: touch;
  mix-blend-mode: lighten;
}

#app {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  -webkit-tap-highlight-color: transparent;
  mix-blend-mode: lighten;
}

svg {
  margin: 0 auto;
  width: 90vw;
  height: auto;
  max-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

canvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#sticker-circle,
#space-planet-overlay {
  transition: 0.2s ease-in-out;
}

#sticker:hover,
#space-planet-overlay.active:hover {
  cursor: pointer;
}

.mobile {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/911157/ziggy-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  bacground-position: center;
}

/* Toggled classes */
.ghost {
  fill-opacity: 0;
  stroke-width: 4px;
  stroke: #fff4e9;
}

.active {
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  svg {
    width: 100vw;
  }
}

.logo-img {
  position: absolute;
  width: 300px;
  z-index: 9999;
  animation: animate 1.7s linear infinite;
  transition: 0.5s;
  top: 40%;
  left: 40%;
  margin: 0 auto;
  opacity: 0;
}

.logo-img:hover {
  opacity: 1;
  cursor: pointer;
}

@keyframes animate {
  0% {
    transform: rotate(35deg) scale(0.7);
  }
  20% {
    transform: rotate(25deg) scale(0.8);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

body {
  font-family: 'Varela', sans-serif;
  overflow: hidden;
}

.wrap {
  background-size: contain;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 70px;
  left: 0;
}

.glitch {
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  color: white;
  font-size: 60px;
  position: relative;
  margin: 0 auto;
  text-shadow: 0px -5px 10px white, 0px 0px 5px rgba(255, 255, 255, 0), 0px 0px 10px rgba(255, 255, 255, 0), 0px 0px 15px rgba(255, 255, 255, 0), 0px 0px 20px rgba(255, 255, 255, 0);
  -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse, shift 4s ease-in-out infinite alternate, blur 8s ease-in-out infinite alternate;
  animation: noise-anim-2 3s infinite linear alternate-reverse, shift 4s ease-in-out infinite alternate, blur 8s ease-in-out infinite alternate;
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
}

@-webkit-keyframes blur {
  0%, 40%, 50%, 60%, 90%, 95%, 100% {
    text-shadow: 0px -5px 10px white, 0px 0px 5px rgba(255, 255, 255, 0), 0px 0px 10px rgba(255, 255, 255, 0), 2px 1px 15px rgba(100, 240, 255, 0), 0px 0px 20px rgba(255, 255, 255, 0);
  }
  45%, 75% {
    text-shadow: 0px -5px 10px white, 0px 0px 5px white, 0px 0px 10px white, 2px 1px 15px #64f0ff, 0px 0px 20px white;
  }
  97.5% {
    text-shadow: 0px -5px 10px rgba(255, 255, 255, 0), 0px 0px 5px rgba(255, 255, 255, 0), 0px 0px 10px rgba(255, 255, 255, 0), 2px 1px 4px #ff6464, 0px 0px 20px rgba(255, 255, 255, 0);
  }
}

@keyframes blur {
  0%, 40%, 50%, 60%, 90%, 95%, 100% {
    text-shadow: 0px -5px 10px white, 0px 0px 5px rgba(255, 255, 255, 0), 0px 0px 10px rgba(255, 255, 255, 0), 2px 1px 15px rgba(100, 240, 255, 0), 0px 0px 20px rgba(255, 255, 255, 0);
  }
  45%, 75% {
    text-shadow: 0px -5px 10px white, 0px 0px 5px white, 0px 0px 10px white, 2px 1px 15px #64f0ff, 0px 0px 20px white;
  }
  97.5% {
    text-shadow: 0px -5px 10px rgba(255, 255, 255, 0), 0px 0px 5px rgba(255, 255, 255, 0), 0px 0px 10px rgba(255, 255, 255, 0), 2px 1px 4px #ff6464, 0px 0px 20px rgba(255, 255, 255, 0);
  }
}

.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 3px;
  text-shadow: -1px 0 red;
  top: 0;
  color: transparent;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse, shift 4s ease-in-out infinite alternate;
  animation: noise-anim-2 3s infinite linear alternate-reverse, shift 4s ease-in-out infinite alternate;
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
  z-index: -2;
  opacity: .7;
}

.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: 1px;
  text-shadow: -3px 0 cyan;
  top: 0;
  color: transparent;
  background: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse, shift 4s ease-in-out infinite alternate;
  animation: noise-anim-2 3s infinite linear alternate-reverse, shift 4s ease-in-out infinite alternate;
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
  z-index: -1;
  opacity: .8;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(59px, 9999px, 19px, 0);
  }
  5% {
    clip: rect(9px, 9999px, 20px, 0);
  }
  10% {
    clip: rect(59px, 9999px, 57px, 0);
  }
  15% {
    clip: rect(37px, 9999px, 69px, 0);
  }
  20% {
    clip: rect(100px, 9999px, 76px, 0);
  }
  25% {
    clip: rect(29px, 9999px, 60px, 0);
  }
  30% {
    clip: rect(66px, 9999px, 53px, 0);
  }
  35% {
    clip: rect(75px, 9999px, 8px, 0);
  }
  40% {
    clip: rect(43px, 9999px, 97px, 0);
  }
  45% {
    clip: rect(31px, 9999px, 96px, 0);
  }
  50% {
    clip: rect(3px, 9999px, 87px, 0);
  }
  55% {
    clip: rect(24px, 9999px, 42px, 0);
  }
  60% {
    clip: rect(40px, 9999px, 20px, 0);
  }
  65% {
    clip: rect(83px, 9999px, 25px, 0);
  }
  70% {
    clip: rect(13px, 9999px, 67px, 0);
  }
  75% {
    clip: rect(70px, 9999px, 40px, 0);
  }
  80% {
    clip: rect(56px, 9999px, 47px, 0);
  }
  85% {
    clip: rect(99px, 9999px, 36px, 0);
  }
  90% {
    clip: rect(79px, 9999px, 17px, 0);
  }
  95% {
    clip: rect(38px, 9999px, 42px, 0);
  }
  100% {
    clip: rect(97px, 9999px, 24px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(59px, 9999px, 19px, 0);
  }
  5% {
    clip: rect(9px, 9999px, 20px, 0);
  }
  10% {
    clip: rect(59px, 9999px, 57px, 0);
  }
  15% {
    clip: rect(37px, 9999px, 69px, 0);
  }
  20% {
    clip: rect(100px, 9999px, 76px, 0);
  }
  25% {
    clip: rect(29px, 9999px, 60px, 0);
  }
  30% {
    clip: rect(66px, 9999px, 53px, 0);
  }
  35% {
    clip: rect(75px, 9999px, 8px, 0);
  }
  40% {
    clip: rect(43px, 9999px, 97px, 0);
  }
  45% {
    clip: rect(31px, 9999px, 96px, 0);
  }
  50% {
    clip: rect(3px, 9999px, 87px, 0);
  }
  55% {
    clip: rect(24px, 9999px, 42px, 0);
  }
  60% {
    clip: rect(40px, 9999px, 20px, 0);
  }
  65% {
    clip: rect(83px, 9999px, 25px, 0);
  }
  70% {
    clip: rect(13px, 9999px, 67px, 0);
  }
  75% {
    clip: rect(70px, 9999px, 40px, 0);
  }
  80% {
    clip: rect(56px, 9999px, 47px, 0);
  }
  85% {
    clip: rect(99px, 9999px, 36px, 0);
  }
  90% {
    clip: rect(79px, 9999px, 17px, 0);
  }
  95% {
    clip: rect(38px, 9999px, 42px, 0);
  }
  100% {
    clip: rect(97px, 9999px, 24px, 0);
  }
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(5px, 9999px, 70px, 0);
  }
  5% {
    clip: rect(18px, 9999px, 16px, 0);
  }
  10% {
    clip: rect(95px, 9999px, 20px, 0);
  }
  15% {
    clip: rect(58px, 9999px, 62px, 0);
  }
  20% {
    clip: rect(88px, 9999px, 57px, 0);
  }
  25% {
    clip: rect(23px, 9999px, 69px, 0);
  }
  30% {
    clip: rect(8px, 9999px, 87px, 0);
  }
  35% {
    clip: rect(76px, 9999px, 94px, 0);
  }
  40% {
    clip: rect(76px, 9999px, 51px, 0);
  }
  45% {
    clip: rect(62px, 9999px, 60px, 0);
  }
  50% {
    clip: rect(8px, 9999px, 70px, 0);
  }
  55% {
    clip: rect(84px, 9999px, 25px, 0);
  }
  60% {
    clip: rect(73px, 9999px, 83px, 0);
  }
  65% {
    clip: rect(67px, 9999px, 70px, 0);
  }
  70% {
    clip: rect(60px, 9999px, 50px, 0);
  }
  75% {
    clip: rect(60px, 9999px, 3px, 0);
  }
  80% {
    clip: rect(67px, 9999px, 70px, 0);
  }
  85% {
    clip: rect(64px, 9999px, 96px, 0);
  }
  90% {
    clip: rect(54px, 9999px, 58px, 0);
  }
  95% {
    clip: rect(91px, 9999px, 81px, 0);
  }
  100% {
    clip: rect(63px, 9999px, 64px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(5px, 9999px, 70px, 0);
  }
  5% {
    clip: rect(18px, 9999px, 16px, 0);
  }
  10% {
    clip: rect(95px, 9999px, 20px, 0);
  }
  15% {
    clip: rect(58px, 9999px, 62px, 0);
  }
  20% {
    clip: rect(88px, 9999px, 57px, 0);
  }
  25% {
    clip: rect(23px, 9999px, 69px, 0);
  }
  30% {
    clip: rect(8px, 9999px, 87px, 0);
  }
  35% {
    clip: rect(76px, 9999px, 94px, 0);
  }
  40% {
    clip: rect(76px, 9999px, 51px, 0);
  }
  45% {
    clip: rect(62px, 9999px, 60px, 0);
  }
  50% {
    clip: rect(8px, 9999px, 70px, 0);
  }
  55% {
    clip: rect(84px, 9999px, 25px, 0);
  }
  60% {
    clip: rect(73px, 9999px, 83px, 0);
  }
  65% {
    clip: rect(67px, 9999px, 70px, 0);
  }
  70% {
    clip: rect(60px, 9999px, 50px, 0);
  }
  75% {
    clip: rect(60px, 9999px, 3px, 0);
  }
  80% {
    clip: rect(67px, 9999px, 70px, 0);
  }
  85% {
    clip: rect(64px, 9999px, 96px, 0);
  }
  90% {
    clip: rect(54px, 9999px, 58px, 0);
  }
  95% {
    clip: rect(91px, 9999px, 81px, 0);
  }
  100% {
    clip: rect(63px, 9999px, 64px, 0);
  }
}

@-webkit-keyframes shift {
  0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  41% {
    -webkit-transform: skewX(10deg);
    transform: skewX(10deg);
  }
  42% {
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
  }
  59% {
    -webkit-transform: skewX(40deg) skewY(10deg);
    transform: skewX(40deg) skewY(10deg);
  }
  60% {
    -webkit-transform: skewX(-40deg) skewY(-10deg);
    transform: skewX(-40deg) skewY(-10deg);
  }
  63% {
    -webkit-transform: skewX(10deg) skewY(-5deg);
    transform: skewX(10deg) skewY(-5deg);
  }
  70% {
    -webkit-transform: skewX(-50deg) skewY(-20deg);
    transform: skewX(-50deg) skewY(-20deg);
  }
  71% {
    -webkit-transform: skewX(10deg) skewY(-10deg);
    transform: skewX(10deg) skewY(-10deg);
  }
}

@keyframes shift {
  0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  41% {
    -webkit-transform: skewX(10deg);
    transform: skewX(10deg);
  }
  42% {
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
  }
  59% {
    -webkit-transform: skewX(40deg) skewY(10deg);
    transform: skewX(40deg) skewY(10deg);
  }
  60% {
    -webkit-transform: skewX(-40deg) skewY(-10deg);
    transform: skewX(-40deg) skewY(-10deg);
  }
  63% {
    -webkit-transform: skewX(10deg) skewY(-5deg);
    transform: skewX(10deg) skewY(-5deg);
  }
  70% {
    -webkit-transform: skewX(-50deg) skewY(-20deg);
    transform: skewX(-50deg) skewY(-20deg);
  }
  71% {
    -webkit-transform: skewX(10deg) skewY(-10deg);
    transform: skewX(10deg) skewY(-10deg);
  }
}
